  
  <div id="default-popup" class="avgrund-popup">

  <script type="text/javascript" src="/js/avgrund.js"></script>
  <script>
	function openDialog() {
		Avgrund.show( "#default-popup" );
		}
		function closeDialog() {
		Avgrund.hide();
		}
  </script>
	<h2>联系我(Contact Me)</h2>
         <p>
		邮箱(E_mail):  i_am_path@163.com
	</p>
         <p>
		QQ:  822686918
	</p>
         <p>
		Skype:  
	</p>
    <div style="float:right">
		<button onclick="javascript:closeDialog();">Close</button>
    </div>
  </div>
